.get-guote__btn {
width: 212px;
height: 53px;
font-family: 'Passion One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;
background-color: $color-gamma;
border-radius: 3px;
}


// @media (max-width: 1400px) {
// }
// @media (max-width: 1200px) {
// }
// @media (max-width: 992px) {
// }
// @media (max-width: 768px) {
// }
// @media (max-width: 576px) {
// }
// @media (max-width: 320px) {
// }


