.top {
    background-color: $color-beta;
}
.top__container {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    min-height: 40px;
    color: $color-alpha;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    & > * {
        align-self: stretch;
        display: flex;
        align-items: center;
        margin: 0 5px;
    }
    .top__span {
        &::before {
            content: url(../../img/like.svg);
            margin-right: 5px;
        }
    }
    .top__stars-img {
        transform: translateY(-2px);
    }

    .top__btn {
        display: flex;
        justify-content: center;
        width: 290px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.29);
        .top__btn-text {
            &::before {
                position: relative;
                top: 2px;
                content: url(../../img/watch.png);
                margin-right: 5px;
            }
        }
    }
}
