$color-light: #ffffff;

$color-alpha: #232c7b;
$color-beta: #f7b801;
$color-gamma: #c32f27;
// $color-delta:  #;
// $color-epsilon: #;
// $color-vau
// $color-zeta
// $color-eta
// $color-theta
// $color-iota
